/* Google fonts link here https://fonts.google.com/specimen/Libre+Baskerville */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

.motivational-image {
    border: 5px solid white;
    width: 100%;
}