/* Root variables for Color Scheme */
:root {
    --primary-pink: #ff4081;
    --primary-orange: #ffa500;
    --primary-blue: #4032c9;
    --bg-light-pink: #fceac8;
    --text-dark: #232323;
    --text-gray: #6c757d;
}

/* Universal CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Body CSS */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: var(--text-dark);
}

/* Utility Class */

.container {
    max-width: 1100px; /* Standard laptop width */
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}
/* Header Section  Start */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.log img{
    height: 40px;
    padding: auto;
}
.menu-icon{
    height: 24px;
    cursor: pointer;
}
/* Header Section END */

/* Hero Section Css Start */
.hero-section {
    background-color: var(--bg-light-pink);
    border-radius: 10px;
    margin: 0 15px 50px 15px;   
}

/* Specific container constraint for hero alignment */
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
}
.hero-text{
    flex: 1;
    padding-right: 20px;
}
.hero-text h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.2;
}

.hero-text p{
    color: var(--text-gray);
    margin-bottom: 20px;
    line-height: 1.6;
}

.hero-text .price{
    font-size: 36px;
    color: var(--primary-pink);
    font-weight: 700;
    margin-bottom: 20px;
}
.btn-hero{
    background-color: var(--primary-pink);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s;
}

.btn-hero:hover{
    background-color: #e73370;
}

.hero-image{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.hero-image img{
    max-width: 100%;
    height: auto;
}
/* Hero Section CSS End */

/* Categories Section Start Here */

.categories-section{
    margin-bottom: 80px;
}
.category-grid{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.cat-card {
    flex: 1;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    transition: transform 0.3s;
}
.cat-card:hover{
    transform: translateY(-5px);
}
.cat-card h1{
    font-size: 35px;
    font-weight: 600;
}
.cat-card img{
    width: 80px;
    height: auto;
}
.cat-watch{
    background-color: var(--primary-orange);
}
.cat-bag{
    background-color: var(--primary-pink)
}
.cat-shoes{
    background-color: var(--primary-blue);
}

/* Categories Section End Here */